langchain-core==0.3.70
langchain==0.3.15
langchain-community==0.3.15
langchain-openai==0.2.11
langchain-huggingface==0.3.1
openai==1.58.1
transformers==4.46.2
faiss-cpu==1.8.0.post1
gradio==4.44.0
jedi==0.19.1
gdown==5.2.0
python-dotenv==1.0.1
